<div class="container">
<div id="crumbs">
	<ul>
		<li><a href="/post/1">Post One</a></li>
		<li><a href="/post/2">Post Two</a></li>
		<li><a href="/post/3">Post Three</a></li>
		<li><a href="/post/4">Post Four</a></li>
	</ul>
<% @blog.each do |post| %>
</div>
	<div class="feature"><h2><%= post["subject"] %></a></h2></div>

	<div class ="contents"><p><%= post["contents"] %></p></div>

	<div class="created_at"><h5><%= post["created_at"] %></h5></div>
<% end %>

