<% @blog.each do |posts| %>

 <div> 
   <div><a href="/blog/<%=posts["id"] %>"><h2><%= posts["subject"] %></h2></a></div> 
   <div><p><%= posts["contents"] %></p></div>
 </div>
 <div><p><%= posts["created_at"] %></p></div>
 
<% end %>
