<span class="subject">SUBJECT: <%=@post["subject"]%></span></h2></a>
		</br>
		<span class="contents"><%=@post["contents"]%></span>
		</br>
		<span class="created_at">CREATED AT: <%=@post["created_at"]%></span>