

<% @result.each do |entry| %>
 <div class="row"> 
 <div class="title"><a href="/blog/<%=entry["id"] %>"><h2><%= entry["subject"] %></h2></a> </div>
   <div class="fulltext"><p class="blog_entry"><%= entry["contents"] %></p>
   </div>
   <div class="timestamp"><p>posted on <%= entry["created_at"] %></p></div>
   </div>
<% end %>