<!DOCTYPE html>
<html>
<head>
	<title>What Should I Read?</title>
	<meta charset="utf-8">
	<link href='http://fonts.googleapis.com/css?family=Henny+Penny|Voltaire|Amarante' rel='stylesheet' type='text/css'>
	<link rel="stylesheet" type="text/css" href="/styles.css">
</head>
<body>
	<a href="/blog"><div class="header-box">
		  <h1>What Should I Read?</h1>
		  <p>A menu of library offerings to inspire your next weekend...</p>
		</div></a>
<%= yield%>
<div><a href="https://generalassemb.ly/education/web-development-immersive" class="flair"><img src="http://ga.bling.phillbaker.com/images/shield_imagined_ga_wdi.png" alt="bft" /></a></div>
</body>
</html>