<!DOCTYPE html>
<html>
<head>
  <meta charset='utf-8' />
  <link rel="stylesheet" type="text/css" href="/style.css" />
  <title>qb</title>
</head>
<body>
  <a href="/posts"><h1>qb</h1></a>
  <%= yield %>
</body>
</html>