<!DOCTYPE html>
<html>
<head>
	<link href='http://fonts.googleapis.com/css?family=Noto+Sans' rel='stylesheet' type='text/css'>
	<!-- <link rel="stylesheet" type="text/css" href="reset.css"> -->
	<link rel="stylesheet" type="text/css" href="styles.css">
	<title>stumptown et jean shorts retro</title>
</head>
<body>
	<h1 class="heading">Put a bird on it</h1>
	<%= yield %>
</body>
</html>