<form action="/blog/post/create" method="post">

  Subject <input type="text" name="subject"><br>

  Text: <input type="textarea" name="text"><br>

  <br/>
  <button type="submit" formmethod="post" formaction="/blog/post/create">
    POST</button>

  </form>