<form action='/blog/create' method="post">
	<div><h3>Title</h3><input type="text" name="subject"/></div>
	<div><h3>Post</h3><textarea name="contents" type="text" cols="60" rows="20"></textarea>
	<button type="submit">Create Your Post</button>
</form>


