
<% @blog.each do |posts| %>
 
 <div> 
 <h1><%=@title%></h1>
   <div><h2><%= posts["subject"] %></h2></div> 
   <div><p><%= posts["contents"] %></p></div>
 </div>
 <div><p><%= posts["created_at"] %></p></div>
 <div><a href="/blog"><p id='link-back'>LINK BACK TO MAIN PAGE</p></a>
<% end %>



