<form action="/blog/<%= @post["id"] %>/update" method="post">
<div>Title: <input type="text" name="title" value="<%= @post["subject"] %>"/></div>
<div>Body: <textarea name="body" cols="60" rows="10">
<%= @post["contents"] %>
</textarea></div>
<button type="submit">Update Post</button>
</form>

