<div class='content'>
	<% @posts.each do |post| %>
	<div class='subject'>
		<a href="/posts/<%= post["id"] %>"><h2><%= post['subject'] %></h2></a>
	</div>
	<div class='contents'>
		<%= post['contents'] %>
	</div>
	<div>
		<%= post ['created_at'] %>
	</div>
	<% end %>
</div>