<div class="posts">
  <% @posts.each do |post| %>
    <div class="post">
      <div class="post-title"><%= post["subject"] %><div>
      <div class="created_at"><%= post["created_at"] %></span>
      <div class="blog-entry"><%= post["contents"] %></div>
    </div>
  <% end %>
</div>