<div class="singlepost">
<% post = @blog[@id.to_i] %>
<div class="subject"><%= post['subject'] %></div>
<div class="contents"><%= post['contents'] %></div>
<div class="created_at"><%= post['created_at'] %></div>

</div>