<div class="singlepost">
<% post = @blog[@id.to_i] %>
<div class="subject"><h2><%= post['subject'] %></h2></div>
<div class="contents"><p><%= post['contents'] %></p></div>
<div class="created_at"><p><%= post['created_at'] %></p></div>

</div>